{{/* {{template "header.html" .}} */}}
{{/* {{define "header"}} */}}
<div class="container ontop">
     <h4>ID : {{.userId}}</h4>
     <h4>NAME :  {{ .userName }}</h4>
     <h4>Role :  {{ .userRole }}</h4>
     <h4>PHONE :  {{ .userPhone }}</h4>
</div>

{{/* {{template "footer.html" .}} */}}

     
 {{ if .message }}
    <div>
        <p>{{ .message }}</p>
    </div>
    {{ end }}


<div class="containerform">  {{/* <form method="post" action="/submit"> */}}
  <form id="needs-validation"  method="post" action="/submit" novalidate>  
                            <div class="row">  
                                <div class="col-sm-6 col-md-12 col-xs-12">  
                                    <div class="form-group">  
                                        <label for="firstname">ผู้ส่ง</label>  
                                        <input type="text" id="sender" name="sender" value="0977063999" placeholder="ConnX" class="form-control" aria-describedby="inputGroupPrepend" readonly />  
                                        <div class="invalid-feedback">  
                                            Please enter first name.  
                                        </div>  
                                    </div>  
                                </div>  
                                
                            </div>  
                            <div class="row">  
                                <div class="col-sm-4 col-md-12 col-xs-12">  
                                    <div class="form-group">  
                                        <label for="tel">ผู้รับ</label>  
                                        <input type="tel" id="CheckMobileNumber" name="Phone_to"  class="form-control"  placeholder="Mobile Number" aria-describedby="inputGroupPrepend" required >  {{/* required */}}
                                    <div div class="invalid-feedback">  
                                            โปรดกรอกหมายเลขโทรศัพท์ 10 หลัก ด้วยรูปแบบดังนี้ 08XXXXXXXX ไม่ต้องใส่เครื่องหมายขีด (-) วงเล็บหรือเว้นวรรค  
                                        </div> 
                                      
                                    </div>  
                                </div>  
                            </div>  
                            <div class="row">  
                                <div class="col-sm-12 col-md-12 col-xs-12">  
                                    <div class="form-group">  
                                        <label for="address">ข้อความ</label>  
                                        <textarea class="form-control" rows="3" id="ClearInput" name="Message_to" placeholder="จำกัด 255 ตัวอักษร" aria-describedby="inputGroupPrepend" required></textarea>  
                                        <div class="invalid-feedback">please enter address</div>  
                                    </div>  
                                </div>  
                            </div>  
                            <div class="row">  
                                <div class="col-sm-12 col-md-12 col-xs-12">  
                                    <div class="form-group">  
                                        <div class="form-check">  
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>   {{/* required */}}
                                            <label class="form-check-label" for="invalidCheck">  
                                                ยอมรับเงื่อนไขและข้อตกลงในการใช้บริการ ConnX SMPP
                                            </label>  
                                            <div class="invalid-feedback">  
                                                You must agree before submitting.  
                                            </div>  
                                        </div>  
                                    </div>  
                                </div>  
                            </div>  
                            <div class="row">  
                                <div class="col-sm-12 col-md-12 col-xs-12">  
                                    <div class="float-right">  
                                        <button class="btn btn-danger " onclick="document.getElementById('ClearInput').value = ''">Clear</button>  
                                        <button class="btn btn-primary rounded-0" type="submit">SEND</button>  
                                    </div>                            
                                </div>  
                            </div>  
                        </form>  
{{/*   <button type="submit" class="btn btn-primary btn-xs">Submit</button> */}}
</div>